<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramai.engine"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:version="0x401000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <application
        android:label="Procedural Warfare"
        android:hasCode="false"
        android:extractNativeLibs="true"
        android:allowBackup="false">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Procedural Warfare"
            android:screenOrientation="landscape"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="ramai" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
